main{
    display: flex;
    background-color: #eee;
}

.container-characters{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media(max-width: 595px){
    .card-container{
        justify-content: center;
    }
}