footer{
    width: 100%;
    position: fixed;
    bottom:0;
    background-color: #eee;
    color: #819792;
    font-weight: 600;
    padding: 5px;
}

.container-p{
display: flex;
justify-content: space-around;
}

p{
    margin:0
}